<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--<suite name="SeleniumTestNGSuite" parallel="tests">-->
<suite name="SeleniumTestNGSuite">

    <test name="ChromeTest">

        <parameter name="fname" value="src/test/resources/testdata1.txt" />
        <classes>

            <class name="org.andestech.learning.rfb19.g3.AppTest" />

        </classes>
    </test>


    <test name="FirefoxTest">
        <parameter name="fname" value="src/test/resources/testdata2.txt" />
         <classes>
            <class name="org.andestech.learning.rfb19.g3.AppTest2" />
        </classes>
    </test>


    <test name="IETest">
        <parameter name="fname" value="src/test/resources/testdata2.txt" />
        <classes>
            <class name="org.andestech.learning.rfb19.g3.AppTest3" />
        </classes>
    </test>


</suite>
